:root {
  --titulo: #e71d1d;
  --boton: #6a99cf;
  --pregunta: #f9ac39;
  --respuesta: #39f9b4;
  --selected: #48c196;
  --correct: #2afc46;
  --correct2: #1cb308;
  --incorrect: #e67979;
  --incorrect2: #e25b51;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
